/* Navbar */

.links .link {
    font-size: 18px;
    margin: 0 0 10px 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 5px;
}
.brand {
    color: white;
    font-size: 32px;
}
.navbar {
    background-color: olive;
}
.username {
    font-size: 24px;
    color: aliceblue;
    position: absolute;
    right: 10px;
    top: 20px;
}
hr {
    height: 5px;
    background-color: black;
    margin: 0;
}

.pagination {
    margin-left: 300px;
}

/* Container */

li {
    list-style: none;
}
.container {
    margin-top: 75px;
    margin-bottom: 150px;
}

.product-img {
    margin-top: 10px
}

.product-item {
    background-color: #808000;
    padding: 0 25px;
    margin-top: 25px;
    border: 5px black solid;
    border-radius: 15px;
}
.product-name {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 24px;
}
.product-desc {
    color: white;
}
.price {
    margin-top: 10px;
    color: crimson;
    font-size: 20px;
    margin-bottom: 10px;
}
.availability-yes {
    margin-top: 10px;
    color: green;
    font-size: 20px;
}
.availability-no {
    margin-top: 10px;
    color: black;
    font-size: 20px;
}
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnBack {
    text-decoration: none;
    color: white;
    margin: 20px 0
}

#order {
    margin-top: 15px;
    list-style-type: none;
}

.active{
    background-color: blue; border-radius: 45px; margin: 5px;
}

.wishItem {
    list-style-type: none;
}

.item {
    max-width: 1000px
}

.btnBack {
    text-decoration: none;
    color: white;
    margin: 20px 0
}

.listItem {
    background-color: olive;
    border: 5px solid black;
    margin-top: 100px;
    padding: 50px;
    border-radius: 45px;
}

.totalPrice {
    margin-top: 20px;
    color: orange;
    font-size: 24px;
}

.orderTitle {
    color: white;
}

.productItem {
    background-color: green;
    padding: 0 25px;
    margin-top: 25px;
    border: 5px black solid;
    border-radius: 15px;
}

.date {
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60%;
    background-color: olive;
}
.over-footer {
    margin: 0;
    background-color: black;
    height: 5px;
}
.footer-text {
    margin: 20px 20px 0 0;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
