/* Navbar */

.links .link {
    font-size: 18px;
    margin: 0 0 10px 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 5px;
}
.brand {
    color: white;
    font-size: 32px;
}
.navbar {
    background-color: olive;
}
.username {
    font-size: 24px;
    color: aliceblue;
    position: absolute;
    right: 10px;
    top: 20px;
}
hr {
    height: 5px;
    background-color: black;
    margin: 0;
}

/* Container */

.container {
    margin-top: 75px;
    margin-bottom: 150px;
    border: 5px black solid;
    border-radius: 15px;
    height: 625px;
    max-width: 500px;
    background-color: #808000;
}

/* Form */

.form {
    margin-top: 15px;
}
h1 {
    color: white;
}
.over-text {
    height: 2px;
    margin: 2px 0 2px 0;
}
.checkbox {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.button {
    text-align: center;
}

.btn-success {
    font-size: 18px;
    padding: 15px;
    color: white;
    background-color: green;
}
.apply {
    border: 5px black solid;
    border-radius: 15px;
}

.applyLink {
    text-decoration: none;
    color: white
}

.message {
    color: white;
    margin-top: 10px
}

.loginedMess {
    margin-top: 100px;
}

.toCab {
    margin-top: 50px
}

.applyReg {
    padding: 10px 75px 10px 75px
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60%;
    background-color: olive;
}
.over-footer {
    margin: 0;
    background-color: black;
    height: 5px;
}
.footer-text {
    margin: 20px 20px 0 0;
    font-size: 20px;
    font-weight: 400;
    color: white;
}