/* Navbar */

.links .link {
    font-size: 18px;
    margin: 0 0 10px 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 5px;
}
.brand {
    color: white;
    font-size: 32px;
}
.navbar {
    background-color: olive;
}
.username {
    font-size: 24px;
    color: aliceblue;
    position: absolute;
    right: 10px;
    top: 20px;
}
hr {
    height: 5px;
    background-color: black;
    margin: 0;
}

.loginedMess{
    margin-bottom: 100px;
}

.unloginedMess {
    margin-bottom: 100px;
}

.inputSearch {
    text-align: center;
    margin-top: 30px
}

.emptyMess {
    margin-top: 50px;
    text-align: center
}

.productItem {
    max-width: 40%;
    margin: 30px auto;
    list-style-type: none;
    background-color: olive;
    border: black 5px solid;
    border-radius: 45px
}

.productName {
    text-align: center;
    margin: 15px;
    font-size: 24px;
    color: white
}

.productDesc {
    font-size: 18px;
    color: white
}

.productPrice {
    margin: 20px;
    color: red;
    font-size: 20px
}

.img {
    text-align: center;
    margin-left: 15px
}


/* Container */

.container {
    margin-top: 75px;
    border: 5px black solid;
    border-radius: 15px;
    height: 575px;
    width: 800px;
    background-color: #808000;
}
.text {
    margin-top: 75px;
    color: white;
}
.form-find {
    max-width: 300px;
    margin: 25px auto 25px;
}
.catalog {
    margin-top: 30px;
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60%;
    background-color: olive;
}
.over-footer {
    margin: 0;
    background-color: black;
    height: 5px;
}
.footer-text {
    margin: 20px 20px 0 0;
    font-size: 20px;
    font-weight: 400;
    color: white;
}